<main class="dark:bg-gray-900 dynamic-height text-white p-4">
    <div class="max-w-2xl mx-auto bg-gray-800 p-6 shadow-lg rounded-lg flex flex-col sm:flex-row items-center sm:space-x-6 space-y-6 sm:space-y-0">
        <img id="user-image" class="w-32 h-32 sm:w-48 sm:h-48 rounded-full shadow-md" src="https://i.gifer.com/Ldv.gif" alt="Аватар користувача">
        <div id="profile-info" class="space-y-2 text-center sm:text-left">
            <p><strong>Name:</strong> <span id="user-name" class="text-blue-600 dark:text-blue-400"></span></p>
            <p><strong>Email:</strong> <span id="user-email" class="text-blue-600 dark:text-blue-400"></span></p>
            <p><strong>Phone:</strong> <span id="user-phone" class="text-blue-600 dark:text-blue-400"></span></p>
        </div>
    </div>
</main>